:root {

    /* Colors */
    --primary-color: black;
    --accent1-color: #3C3B6E;

    font-family: "Roboto", sans-serif;
}

/* wild card settings */
* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: white;
    border-bottom: 1em solid var(--accent1-color);
}

h1 {
    padding: 1em;
    text-align: center;
}

picture {
    background-color: var(--primary-color);
    border-bottom: .5em solid var(--primary-color);
}

picture img {
    width: 100%;
    height: auto;
}

section {
    margin: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section h2 {
    grid-column: 1/3;
    margin: .5em;
    text-align: center;
}

section img {
    grid-column: 1/3;
}

.pre {
    text-align: right;
    padding-right: .5em;
    font-weight: 600;
}

.post {
    padding-left: .5em;
}

div p {
    margin: .1em;
    font-size: larger;
}

hr {
    opacity: .3;
}

.mobile {
    display: block;
    margin: 0 auto;
    width: 100px;
}

footer {
    height: 5em;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: larger;
    padding-top: 1em;
}

@media (min-width: 750px) {
    picture {
        position: relative;
    }

    section {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
    }

    .data {
        position: absolute;
        top: 10em;
        left: 2em;
        width: 22em;
        padding: .5em;
    }

    .weather {
        position: absolute;
        bottom: 10em;
        right: 2em;
        width: 15em;
        padding: .5em;
    }

    .data h2,
    .weather h2 {
        background-color: var(--accent1-color);
        padding: .75em;
        width: 10em;
        text-align: left;
        color: white;
    }

    /*
    .weather h2 {
        grid-column: 1/3;
        grid-row: 1;
    }
    .mobile {
        grid-column: 2/3;
        grid-row: 1;
        width: 3.5em;
        align-self: center;
    }
        */

    .data h2 {
        position: absolute;
        right: 4.5em;
    }

    .weather h2 {
        position: absolute;
        right: .1em;
    }
    
    .weather h2::after {
        content: '';
        display: inline-block;
        background: url(/wdd131/images/weather.svg) no-repeat center/contain;
    }

    .mobile {
        position: absolute;
        top: .5em;
        left: 6em;
        width: 4em;
    }

    .data p:nth-child(1) {
        padding-top: 4em;
    }

    .weather p:nth-child(1) {
        padding-top: 4.5em;
    }

    hr {
        visibility: hidden;
    }

    .mobile::selection {
        background-color: #F26419;
    }
}