@media (min-width: 750px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigate {
        display: none;
    }

   nav {
        display: flex;
        flex-direction: row;
    }

    main {
        width: 850px;
        margin: 0 auto;
    }

    .img-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }
}